.song{
    margin:10px;
    border:1px solid rgb(248, 247, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(33,33,33,.2); 
    /* border: none; */
    color: #F9F5F3;
    
    /* background-color:#DEB075; */
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    
}
.song img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    transition: all ease .5s;
}
.song img:hover{
    transform: scale(1.1);
    transition: all ease .5s;

}
.title {
 color:yellow;    
}